.product-cart-item{
    display: flex;
    width: 500px;
    height: 255px;
    border: 3px solid #434B4B;
    background-color: #CEEDE7;
    margin: 20px;
    border-radius: 30px;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    color: #1D3435;
}

.product-cart-image{
    width: 265px;
    height: 244px;
    border-radius: 20px;
}

.product-cart-image img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.product-cart-other{
    margin-left: 20px;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.product-cart-other .heading{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.product-cart-other p{
    width: 450px;
}

.x{
    color: red;
    font-weight: normal;
    font-size: 20px;
    cursor: pointer;
}



